@use '@/styles' as *;

.balance_detail_list {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  margin-top: 8px;

  @include scrollbar;

  .balance_detail_list_item {
    flex-shrink: 0;
    position: relative;
    padding-bottom: 8px;
    border-bottom: 3px solid $border-color;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .category_container {
      .main_category {
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
      }

      .sub_category {
        font-size: $font-size-xs;
      }
    }

    .action_buttons {
      position: absolute;
      top: 4px;
      right: 0;

      .action_button_icon {
        cursor: pointer;
        margin: 0 4px;
        transition: transform $transition-normal;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .amount {
      margin-top: 8px;
      font-size: $font-size-md;

      &.income {
        color: $income-color;
      }
      &.expense {
        color: $expense-color;
      }

      .yen_symbol {
        font-size: $font-size-xs;
        padding-right: 4px;
        color: $main-text-color;
      }
    }
  }

  .no_transaction {
    font-size: $font-size-xs;
    color: $sub-text-color;
  }
}
