@use '@/styles' as *;

.home_container {
  height: 100%;
  display: flex;

  .calender_wrapper {
    flex: 5;
    padding: 0 16px;
  }

  .transaction_detail_wrapper {
    flex: 2;
    padding: 0 8px;
    border-left: $border-color 3px solid;
  }
}
