@use '@/styles' as *;

.home_container {
  height: 100%;
  display: flex;

  .calender_wrapper {
    flex: 5;
    padding: 48px 16px 0;
  }

  .transaction_detail_wrapper {
    flex: 2;
    margin: 8px 0;
    padding: 0 8px;
    border-left: $border-color 3px solid;
  }
}
