@use '@/styles' as *;

.transaction_input_container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .transaction_input_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 16px;

    .transaction_input_title {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 16px;
      }

      &.income:before {
        background: rgba($income-color, 0.1);
      }

      &.expense:before {
        background: rgba($expense-color, 0.1);
      }
    }

    .transaction_input_close_icon {
      cursor: pointer;
      margin-right: 8px;
      transition: all $transition-normal;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .transaction_input_form {
    height: 100%;

    overflow-y: auto;
    @include scrollbar;

    padding: 4px;
    margin: -4px;

    & > * {
      margin-left: 4px;
      margin-right: 4px;
    }

    .transaction_input_button_wrapper {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      height: 100px;

      .submit_button {
        width: 50%;
        @include primary-button-color($submit-button-color);
      }
    }
  }
}
