@use '@/styles' as *;

.transaction_input_container {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .transaction_input_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    .transaction_input_title {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }

    .transaction_input_close_icon {
      cursor: pointer;
      margin-right: 8px;
    }
  }

  .transaction_input_form {
    margin-top: 8px;
    height: 100%;

    overflow-y: auto;
    @include scrollbar;

    padding: 4px;
    margin: -4px;

    & > * {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}
