@use '@/styles' as *;

.transaction_detail_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .transaction_detail_main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;

    .transaction_detail_date {
      font-size: $font-size-md;
      text-align: center;
    }

    .transaction_add_buttons {
      margin-top: 16px;
      display: flex;
      gap: 16px;
      flex-shrink: 0;

      .income {
        @include primary-button-color($income-color);
      }
      .expense {
        @include primary-button-color($expense-color);
      }
    }
  }

  // 選択された日付がない時のスタイル
  .not_selected_text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-sm;
    color: $sub-text-color;
  }
}
