@use '@/styles' as *;

.total_balance {
  margin-top: 16px;
  width: 100%;

  .total_balance_title {
    font-size: $font-size-md;
    text-align: left;
  }

  .total_balance_grid {
    margin-top: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    .total_balance_label {
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
    }

    .total_balance_value {
      font-size: $font-size-md;
      margin-top: 16px;
      text-align: right;
      font-weight: $font-weight-semibold;

      &.income {
        color: $income-color;
      }
      &.expense {
        color: $expense-color;
      }

      .yen_symbol {
        font-size: $font-size-xs;
        padding-right: 4px;
        color: $main-text-color;
        font-weight: $font-weight-normal;
      }
    }
  }
}
